@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: hsl(26, 100%, 55%);
    --color-primary-alt: hsl(25, 100%, 94%);
    --color-neutral-light: hsl(223, 64%, 98%);
    --color-neutral: hsl(220, 14%, 75%);
    --color-neutral-dark: hsl(219, 9%, 45%);
    --color-neutral-very-dark: hsl(220, 13%, 13%);
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
  }

  #root {
    max-width: 1440px;
    min-width: 375px;
    margin: auto;
  }

  body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
  }
}
